.o-hero-with-icon {
  padding-bottom: $twelve;
  background-color: $pink;
  position: relative;
  color: $white;
  overflow: hidden;

  @media (min-width: $break-desktop) {
    padding-bottom: $eight;
  }

  -webkit-mask-image: url($svg-bottom-curve--mobile);
  -webkit-mask-position: 0 100%;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;

  @media (min-width: $break-desktop-med) {
    -webkit-mask-image: url($svg-bottom-curve--destop);
  }

  &__inner {
    max-width: 82.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0;

    @media (min-width: $break-desktop) {
      // padding-right: 35%;
      position: relative;
      z-index: 1;
    }
  }

  &__content {
    max-width: 774px;
    @media (min-width: $break-desktop) {
      padding: $eighteen 0;
    }
  }

  &__image {
    // @apply px-4 relative md:flex flex-col justify-center items-center;

    padding: 0 $four;
    position: relative;
    @media (min-width: $break-desktop) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @media (min-width: $break-desktop) {
      position: absolute;
      bottom: 0;
      right: 0;
      top: 0;
      width: 30%;
    }

    .a-responsive-image {
      display: flex;
      height: 100%;
      width: 100%;
      position: relative;
      z-index: 1;
    }
  }

  &__image-wrap {
    @apply w-10 md:w-26 lg:w-32;

    width: $ten;
    @media (min-width: $break-desktop) {
      width: $twentysix;
    }

    @media (min-width: $break-desktop-med) {
      width: $thirtytwo;
    }
  }
}
