body {
  border: 1px solid #ff0000;
  font-family: 'Erika UC';
}

h1,
.text-h1,
h2,
.text-h2,
h3,
.text-h3,
h4,
.text-h4,
h5,
.text-h5,
h6,
.text-h6 {
  @apply font-sans font-bold;
}

h1,
.text-h1 {
  @apply text-6xl lg:text-10xl;

  &.font-erika {
    @apply text-4xl lg:text-8xl;
  }
}

h2,
.text-h2 {
  @apply text-5xl lg:text-9xl;
}

h3,
.text-h3 {
  @apply text-3xl lg:text-6xl;
}

h4,
.text-h4 {
  @apply text-xl lg:text-2xl font-normal;
}

h5,
.text-h5 {
  @apply text-lg lg:text-xl;
}

h6,
.text-h6 {
  @apply text-base  leading-5  lg:text-md lg:leading-[26px];
}

h1,
.text-h1,
h2,
.text-h2,
h3,
.text-h3,
h4,
.text-h4,
h5,
.text-h5,
h6,
.text-h6,
p {
  margin-top: 0 !important;
}

.material-symbols-outlined {
  font-size: 1em;
}

.text-erika-display-1,
.text-erika-display-2,
.text-h1-erika,
.text-h2-erika {
  @apply font-erika;
}

.text-erika-display-1 {
  @apply text-9xl lg:text-11xl;
}

.text-erika-display-2 {
  @apply text-6xl lg:text-10xl;
}

.text-h1-erika {
  @apply text-4xl lg:text-8xl;
}

.text-h2-erika {
  @apply text-base lg:text-lg;
}
