.categories-list .category-list th {
  padding: 0;
}

.category-list {
  .category-list-item {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    background: $pink200;
    box-shadow: 0px 6px 8px rgba(85, 18, 70, 0.35);
    border-radius: 30px;
  }

  .topic-list {
    .main-link {
      .category-name {
        display: block;
        white-space: normal;
        color: $purple;
      }
    }

    .category-description,
    .subcategories-list,
    .category-topic-link {
      display: none;
    }
  }
  .category-topics-count {
    display: none !important;
  }
}
