.alert {
  background-color: $pink200 !important;
  border-radius: 20px !important;
  @media (min-width: $break-md) {
    margin-bottom: 26px;
  }
}

.alert-emails-disabled {
  display: none;
}

.consent_banner {
  color: $purple !important;

  button.btn-link {
    display: flex;
    @include a-btn-link;
    margin-top: 10px;
  }

  button.close {
    svg {
      color: $purple !important;
    }
  }
}

.popup-tip {
  background-color: $yellow !important;
  color: $purple !important;
  border-radius: 10px;

  .d-icon {
    opacity: 1;
    color: $purple !important;
  }
}

.topic-list-body .topic-list-item .main-link .link-top-line .badge-notification.unread-posts {
  top: -22px;
  left: 11px;
  padding: 1px 8px !important;
  background-color: $lightpink;
}
