.d-header-wrap {
  top: 40px;
}

.d-header {
  height: 100px;

  .title {
    min-width: 125px !important;
  }

  //desktop
  #site-logo {
    min-height: 56px;
    min-width: 100px !important;
    padding-right: 10px;
    flex: 1;
    @media (min-width: $break-lg) {
      min-height: 76px;
    }
  }

  .d-header-icons .d-icon {
    color: $purple;
  }

  .header-buttons {
    .sign-up-button {
      display: none;
      @media (min-width: $break-lg) {
        display: block;
      }
    }

    button {
      @include a-btn-primary;

      padding: 10px !important;
      font-size: 0.875rem !important;
      margin-top: -5px;
      margin-right: 0;
      margin-right: 5px;

      @media (min-width: $break-lg) {
        @include a-btn-primary;
        margin-top: 0px;
        font-size: 1.2rem !important;
      }

      svg {
        display: none;
      }
    }
  }
}

.header-dropdown {
  svg {
    display: none;
  }
}

//this appears when user scrolls down page
.extra-info-wrapper {
  // position: relative;
  .header-title {
    margin-bottom: 10px;
    a {
      color: $purple !important;
    }
  }

  .categories-wrapper {
    margin-bottom: 10px;
    .badge-category-bg {
      display: none;
    }
    span.badge-category {
      color: $purple !important;
    }
    a {
      &:hover {
        .badge-category {
          text-decoration: underline;
        }
      }
    }

    .badge-category-parent-bg + .badge-category-bg {
      + .badge-category {
        padding-left: 24px;

        &:before {
          position: absolute;
          left: 0px;

          color: $purple;
          content: '';
          z-index: 1;
          width: 18px;
          height: 18px;
          background-image: url($hand-drawn-chevron-right);
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: contain;
        }
      }
    }
  }
}

// For Disourse search NOT Algolia
// .search-dropdown {
//   cursor: pointer;
//   a {
//     border: none !important;
//   }
//   svg {
//     color: $pink !important;
//     display: none !important;
//   }

//   position: relative;
//   z-index: 1;

//   background-image: url($search) !important;
//   background-repeat: no-repeat !important;
//   background-position: center !important;
//   background-size: 60% !important;
//   width: 45px;

//   &.active {
//     width: 0;
//     height: 0;
//     &:after {
//       content: '';
//       position: absolute;
//       top: 0;
//       height: 45px;
//       width: 45px;
//       background-image: url($cross) !important;
//       background-repeat: no-repeat !important;
//       background-position: center !important;
//       background-size: 85% !important;
//     }
//   }
// }

// The hamburger
.header-dropdown-toggle {
  #toggle-hamburger-menu {
    cursor: pointer;
    margin-right: 8px;
    svg {
      display: none;
    }

    background-image: url($hamburger);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    border: none;

    &:active,
    &:focus {
      background-color: $white;
    }
  }

  &.active {
    #toggle-hamburger-menu {
      background-size: 100%;
      background-image: url($cross);
    }
  }
}
