.bcn-topbar {
  background-color: $pink;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.bcn-topbar__items {
  height: 40px;
  width: 95%;
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.bcn-topbar__item {
  display: block;
  white-space: nowrap;
  color: $white !important;
  margin-bottom: 0;
  line-height: 1;
  margin-right: 30px;
  font-size: 16px;
  font-weight: 400;
  &:hover {
    text-decoration: underline;
  }

  @media (min-width: $break-xl) {
    font-size: 18px;
  }
}
