.topic-list-data {
  .topic-post-badges {
    display: none;
  }

  .pull-left {
    display: none;
  }
  .right {
    margin-left: 0;
    padding-left: 10px;
    a {
      font-weight: 400 !important;
    }

    .topic-item-stats {
      margin-top: 0;
      margin-left: -5px;
    }
  }
}

.topic-list .topic-item-stats .category {
  
  a{
    white-space: normal !important;
    max-width: 265px;
    padding-left: 5px;
  }
}