body {
  color: $pink200 !important;
}

.wrap {
  max-width: $content-max-width !important;
  margin-right: auto !important;
  margin-left: auto !important;
  padding: 0 10px !important;
  box-sizing: border-box;
}

body {
  color: $purple !important;
  background-color: $pink200;
}

#main-outlet {
  margin-top: 30px;
  margin-bottom: 50px;
  background: var(--secondary);
  border-radius: 20px;
  padding: 18px 14px;
  box-shadow:
    0 24px 40px rgba(0, 0, 0, 0.07),
    0 10.8529px 24.1177px rgba(0, 0, 0, 0.0456112),
    0 4.50776px 10.0172px rgba(0, 0, 0, 0.035),
    0 1.63037px 3.62304px rgba(0, 0, 0, 0.0243888);

  @media (min-width: $break-lg) {
    padding: 30px;
  }
}

.alert-bootstrap-mode {
  display: none;
}
