//<table>
// .topic-list {}

//<thead>
.topic-list-header {
  tr {
    padding: 0;
    th {
      padding: 20px;
      @include text-md;
      color: $purple;
    }
  }
}

//<tbody>
.topic-list-body {
  padding: 0;

  // <tr>
  .topic-list-item {
    &:nth-child(even) {
      background-color: $pink200;
    }

    td {
      @include text-lg;
      color: $purple;

      padding: 20px 0;
      // these classes are only on mobile
      .pull-left {
        padding: 0 10px 0 20px;
      }
      .pull-right {
        padding-right: 20px;
      }

      .activity {
        padding-right: 10px;
      }
    }

    .main-link {
      .title,
      .link-top-line a {
        @include text-lg;
        color: $purple !important;
        font-weight: bold;
        padding: 0 !important;
        display: block;
        margin-bottom: 6px;
      }

      .badge-wrapper {
        margin-top: 10px;
        display: flex;
        align-items: center;
      }

      .badge-category-bg {
        width: 16px;
        margin-right: 10px;
      }

      .badge-category {
        padding: 0 !important;
        .category-name {
          @include text-md;
          color: #6e2b5f;
          font-weight: 400;
        }
      }
    }
    
    // notifications on topic list
    .badge-notification.new-topic {
      align-self: flex-start;
     

      &:before {
        // position: absolute; 
        background-color: $pink;
        margin-right: 6px;
        // top: 0;
        margin-left: 10px;
      }
    }

    .badge-notification.unread-posts {
      background-color: $lightpink;
      @include text-md;
      color: #6e2b5f;
      font-weight: bold;
      padding: 0 4px !important;
    }

    .link-top-line {
      display: flex;
      .topic-post-badges {
        display: flex;
        align-self: flex-start;
     
      }
    }

    .link-bottom-line {
      margin: 0 !important;

      a {
        padding: 0 !important;
        margin: 0 !important;
      }
    }

    .posters {
    }

    .posts {
    }

    .views {
    }

    .age {
    }
  }
}

// below the table, alerts mesages etc
.topic-list-bottom {
  margin: 40px 0;
  h3 {
    @include text-xl;
    font-weight: 400;
  }
}

.footer-message {
  h3 {
    color: $purple;
    text-align: center;
    @include text-lg;
    @media (min-width: $break-lg) {
      @include text-xl;
    }
  }
}
