#user-card {
  color: $purple !important;
  border-radius: 10px;
  a,
  h3,
  span,
  h1 {
    color: $purple !important;
  }

  .card-content {
    border-radius: 10px;

    background: $pink200;
    box-shadow: 0px 6px 8px rgba(85, 18, 70, 0.35);
  }
  .names {
    .username {
      // color: $purple !important;
      font-size: 24px;
      line-height: 1.4;
      margin-bottom: 6px;
    }
  }

  .usercard-controls {
    .btn-primary,
    .btn-default {
      @include a-btn-chip;

      font-size: 15px;

      @media (min-width: $break-md) {
        font-size: 16px;
      }
    }
  }
}
