.menu-panel {
  border-radius: 4px;
  background: $purple100;

  /* drop shadow dark */
  box-shadow: 0px 15px 22px 0px rgba(85, 18, 70, 0.35);

  svg {
    color: $pink !important;
  }

  .svg-icon {
    height: 16px;
    width: 16px;
  }
}

.menu-panel.drop-down {
  top: 130% !important;
}
.sidebar-section-link {
  border-radius: 3px;
}

.sidebar-section-link:focus,
.sidebar-section-link:hover {
  background-color: #fff !important;
}

.sidebar-section-header-wrapper .sidebar-section-header {
  color: $purple;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.sidebar-section-link-wrapper .sidebar-section-link:hover,
.sidebar-section-header-wrapper .sidebar-section-header-button,
.sidebar-section-header-wrapper .sidebar-section-header-button .d-icon {
  &:hover,
  &:focus {
    background-color: #fff !important;
  }
}

.sidebar-section-wrapper .sidebar-section-link.active {
  background-color: #fff !important;
}

.sidebar-section-link-content-text {
  color: $purple;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-left: 4px;
}

.sidebar-section-content {
  padding-top: 10px !important;
  border-top: 1px solid $lightpink;
}

.sidebar-section-content#sidebar-section-content-community {
  border-top: unset;
  padding-top: unset;
  .sidebar-section-link-wrapper {
    .sidebar-section-link.active {
      border: 1px solid $white;
      background: $purple100;
      background-color: #fff;
    }
  }
}

#sidebar-section-content-categories {
  display: block !important;

  .sidebar-section-link-wrapper {
    .sidebar-section-link {
      width: 100%;
      position: relative;
      padding-right: 30px;
      &::after {
        right: 8px;
        content: '';
        position: absolute;
        height: 14px;
        width: 14px;

        z-index: 1;
        background-image: url($hand-drawn-chevron-right);
        background-size: 100% 100%;
        background-position: 0 100%;
        background-repeat: no-repeat;
      }
    }

    .sidebar-section-link-prefix {
      display: none;
    }
  }
}

.sidebar-section-link-wrapper .sidebar-section-link-button {
  background: $purple100;
  &:hover,
  &:focus {
    background-color: #fff;
  }
}

.hamburger-panel .revamped .sidebar-footer-wrapper {
  background-color: unset !important;
}

.hamburger-panel .revamped .sidebar-footer-wrapper .sidebar-footer-container {
  background-color: unset !important;
}

.hamburger-panel .revamped .sidebar-footer-wrapper .sidebar-footer-container:before {
  display: none;
}

.hamburger-panel
  .revamped
  .sidebar-footer-wrapper
  .sidebar-footer-container
  .sidebar-footer-actions {
  .btn-flat {
    &:hover,
    &:focus {
      background-color: #fff;
    }
  }
}
