.topic-list-data {
  .pull-left {
    display: none;
  }
  .right {
    margin-left: 0;
    padding-left: 8px;
    .main-link {
      a {
        display: inline !important;
      }

      .badge-notification.new-topic {
        &:before {
          position: static;
          background-color: $pink;
        }
      }
    }

    .topic-item-stats {
      padding-left: 8px;
      margin-top: 10px;
      margin-left: -5px;
      display: flex;
      align-items: flex-start;

      .badge-category__name {
        display: block;
        text-wrap: wrap;
      }
    }

    .topic-post-badges .badge,
    .topic-list-data {
      color: $purple;
      padding: 0px 5px;
      border-radius: 6px;
      @include text-base;

      .unread-posts {
        background-color: $lightpink !important;
      }

      .activity {
        padding-right: 0px;
      }
    }
  }
}

.topic-list .topic-item-stats .category {
  a {
    white-space: normal !important;
    max-width: 265px;
    padding-left: 8px;
  }
}

.topic-list-body .topic-list-item td .activity {
  padding-right: 8px;
}

.topic-list-body .topic-list-item td .pull-right {
  padding-right: 8px;
}

.topic-list-body .topic-list-item .main-link {
  width: 90%;
}

.topic-list-body .topic-list-item .main-link .title {
  line-height: 1;
}

.topic-list-body .topic-list-item td {
  padding: 12px 0;
}
