.menu-panel.drop-down {
  position: fixed !important;
  top: 100px !important;
  left: 0 !important;
  right: 0 !important;
  width: unset !important;
  background-color: $pink200;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  hr {
    display: none !important;
  }

  @media (min-width: $break-desktop) {
  }
}

.panel-body {
  margin: 0 auto;
  display: block !important;
  height: unset !important;
  max-height: unset !important;
}

.panel-body-contents {
  padding: 30px 0;
  max-width: 1300px;
  @media (min-width: $break-xl) {
    flex-direction: row !important;
    flex-wrap: wrap !important;
    align-items: flex-start;
    justify-content: space-between;
    height: 100% !important;
    &::before {
      content: '';
      display: none;
    }
  }
}

// Topic type links
.menu-container-general-links {
  padding: 0 10px;
  li {
    width: 100% !important;

    font-weight: bold;
    a {
      color: $purple !important;
      font-size: 19px !important;
      line-height: 1;
      @include a-btn-menu;
      padding: 0 0 23px 0 !important;
      border-radius: 0;
      transition: 0.4s;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media (min-width: $break-xl) {
    width: 20% !important;
    li {
      a {
        font-size: 22px !important;
      }
    }
  }

  @media (min-width: $break-xl) {
    width: 24%;
  }
}

//Ccategories
.category-links {
  padding: 0 10px !important;

  .heading {
    display: none;
  }

  @media (min-width: $break-xl) {
    width: 77%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    padding: 0 !important;
  }

  @media (min-width: $break-xl) {
    width: 74%;
  }
}

.category-link {
  width: 100% !important;
  position: relative;
  display: block !important;
  padding: 0 !important;

  a {
    border-radius: 20px;
    margin: 0 0 20px 0;
    background-color: $white !important;
    display: block !important;
    color: $purple !important;
    padding: 24px 75px 24px 24px !important;

    @include base;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      right: 22px;
      top: 12px;
      background-image: url($arrow-button);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 50px;
      width: 50px;
    }

    &:hover {
      text-decoration: underline;
    }

    .category-name {
      color: $purple !important;
    }

    @media (min-width: $break-xl) {
      @include lg;
    }
  }

  .topics-count {
    display: none !important;
  }

  .badge-wrapper {
    white-space: pre-wrap;
  }
  .badge-category-bg,
  .badge-category-parent-bg {
    display: none !important;
  }

  .badge-category {
    max-width: unset !important;
    width: 100% !important;

    .d-icon {
      margin-right: 10px;
    }
  }
  .badge-notification {
    display: none !important;
  }

  @media (min-width: $break-xl) {
    width: 40% !important;
    max-width: 420px !important;

    &:nth-child(even) {
      margin-right: 24px;
    }
  }
}

/// Small admin links
.menu-container-faq-link,
.menu-container-admin-links,
.menu-container-footer-links {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;

  li {
    width: 100% !important;
    a {
      @include base;
      color: $purple !important;
      margin-bottom: 10px;
      svg {
        color: $pink !important;
      }

      &:hover,
      &:focus {
        text-decoration: underline;
        background-color: transparent !important;
        background-color: $pink200 !important;
      }

      &.is-selected {
        background-color: $pink200 !important;
      }

      &.is-highlighted {
        background-color: $pink200 !important;
      }
    }
  }

  @media (min-width: $break-xl) {
    ul {
      display: flex;
      padding-bottom: 10px;
    }
    li {
      width: unset !important;

      a {
        font-size: 16px;
      }
    }
  }

  .badge-notification {
    background-color: $purple;
  }
}

.menu-container-footer-links {
  width: 100% !important;

  @media (min-width: $break-xl) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
