// navigation
// navigation

#navigation-bar {
  width: auto;

  .navigation-toggle {
    .toggle-link {
      svg {
        display: none;
      }

      &:after {
        transition: 0.4s;
        content: '';
        height: 20px;
        width: 20px;
        margin-left: 8px;
        background-image: url($hand-drawn-chevron--pink);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }

  .drop {
    display: block;

    width: unset;
    border-radius: 20px;
    box-shadow: 0px 15px 22px rgba(85, 18, 70, 0.35);
    li {
      a {
        width: auto;
        height: unset;
      }
    }
  }
}
.menu-container-faq-link,
.menu-container-admin-links {
  width: 100% !important;
}

// for when the  <html> element has classes .mobile-view .mobile-device
.header-cloak {
  display: none !important;
}

.menu-panel.slide-in {
  top: 140px !important;
  left: 0 !important;
  right: 0 !important;
  width: unset !important;
  background-color: $pink200;
  overflow: scroll !important;
  z-index: 999 !important;
  // border: 1px solid #ff0000 !important;

  .panel-body {
    // overflow: visible;
  }

  .panel-body-contents {
    // height: 100%;
    padding-top: 20px;
    padding-bottom: 140px;
  }

  .category-links {
    padding: 0 !important;
  }

  .menu-container-faq-link,
  .menu-container-admin-links,
  .menu-container-footer-links {
    ul {
      display: flex;
      padding-bottom: 10px;
    }
    li {
      width: unset !important;

      a {
        font-size: 16px;
      }
    }
  }
}
