.alert {
  background-color: $pink200 !important;
  border-radius: 20px !important;
  @media (min-width: $break-md) {
    margin-bottom: 26px;
  }
}

.alert-emails-disabled {
  display: none;
}

// user writing a new post
.composer-popup {
  background-color: $lightgrey;
  border-radius: 6px;
}

// notifications on topic list
.topic-list .badge-notification.new-topic {
  top: -22px;
  &:before {
    background-color: $pink;
    margin-top: -10px;
    margin-left: 10px;
  }
}

.topic-list-body .topic-list-item .main-link .link-top-line .badge-notification {
  top: -7px;
  left: 11px;
  padding: 1px 8px !important;
  background-color: pink;
}
