//<table>
.topic-list {
  // border-collapse: separate;
  // border-spacing: 0 15px;
}

.topic-list .topic-list-data:first-of-type {
  // padding-left: 50px;
}

.topic-list .topic-list-data:last-of-type {
  // padding-right: 50px;
}

//<thead>
.topic-list-header {
  tr {
    padding: 0;
    th {
      padding: 20px;
      @include md;
      color: $purple;
    }
  }
}

//<tbody>
.topic-list-body {
  padding: 0;

  // <tr>
  .topic-list-item {
    &:nth-child(even) {
      background-color: $pink200;
    }
    td {
      @include lg;
      color: $purple;
    }

    .main-link {
      .title {
        @include lg;
        color: $purple !important;

        margin-bottom: 10px;
      }

      .badge-wrapper {
        margin-top: 10px;
        display: flex;
        align-items: center;
      }

      .badge-category-bg {
        width: 16px;
        margin-right: 10px;
      }

      .badge-category {
        .category-name {
          @include md;
          color: #6e2b5f;
          font-weight: 400;
        }
      }
    }

    .posters {
    }

    .posts {
    }

    .views {
    }

    .age {
    }
  }
}

.category-list.with-topics .category-list-item .category-description {
  display: table-row;
}

// below the table, alerts mesages etc
.topic-list-bottom {
  margin: 40px 0;
  h3 {
    @include xl;
    font-weight: 400;
  }
}
