.background-container {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 600px;
  width: 100vw;
  background-color: $pink !important;
  -webkit-mask-image: url(bottom-curve--mobile);
  -webkit-mask-image: url($bottom-curve--desktop);
  -webkit-mask-position: 0 100%;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
}

.bcn-hero-with-icon {
  background-color: $pink;
  color: $white !important;
  height: 160px;
  display: flex;
  margin: 0 auto;
  max-width: $content-max-width;
  padding-top: 90px;
  padding-bottom: 20px;

  @media (min-width: $break-lg) {
    padding-top: 100px;
    padding-bottom: 60px;
  }

  &__inner {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  &__content {
    width: 700px;

    h4 {
      font-weight: 400;
    }
  }

  &__image {
    width: 220px;
    height: 220px;
    background-image: url($hand-drawn-squarrow);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    display: none;
    @media (min-width: $break-lg) {
      display: block;
    }
  }
}
