.o-steps {
  position: relative;
  margin-bottom: 40px;

  @media (min-width: $break-md) {
    margin-bottom: 80px;
  }

  &__inner-wrapper {
    margin-top: -100px;
    padding-top: 100px;
    background-color: $orange100;
    // &:before {
    //   background-color: $orange100;
    //   -webkit-mask-image: url($curve-five);
    //   mask-image: url($curve-five);
    //   position: absolute;
    //   left: 0px;
    //   right: 0px;
    //   top: -2rem;
    //   height: 1rem;
    //   z-index: 2;

    //   content: '';
    //   -webkit-mask-position: center top;
    //   mask-position: center top;
    //   -webkit-mask-repeat: no-repeat;
    //   mask-repeat: no-repeat;
    //   -webkit-mask-size: 100% 102%;
    //   mask-size: 100% 102%;
    //   height: 2rem;

    //   @media (min-width: $break-md) {
    //     top: -3rem;
    //     height: 3rem;
    //   }
    // }
    &:after {
      background-color: $orange100;
      -webkit-mask-image: url($curve-three);
      mask-image: url($curve-three);
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: -1rem;
      height: 1rem;
      z-index: 2;

      content: '';
      -webkit-mask-position: center top;
      mask-position: center top;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: 100% 100%;
      mask-size: 100% 100%;
      @media (min-width: $break-md) {
        bottom: -3rem;
        height: 3rem;
      }
    }
  }

  &__inner {
    background-color: $orange100;
    position: relative;

    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    padding-top: $eight;
    @media (min-width: $break-md) {
      padding-top: $eight;
    }

    h2 {
      text-align: center;
      margin-bottom: $six;
      @media (min-width: $break-md) {
        margin-bottom: $ten;
      }
    }
  }

  &__card-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: $break-md) {
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  &__card-container-item {
    flex-shrink: 0;
    padding: 0 $two;
    margin-bottom: $ten;

    &:last-child {
      margin-bottom: $four;
    }

    @media (min-width: $break-md) {
      width: 33%;
    }

    @media (min-width: $break-lg) {
      width: 33%;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    h3 {
      text-align: center;
      margin-bottom: $two;
      @include text-lg;
      @media (min-width: $break-lg) {
        @include text-xl;
      }
    }
    p {
      @include text-base;
      text-align: center;
      @media (min-width: $break-md) {
        @include text-md;
      }
    }
  }

  &__link {
    @include a-btn-tertiary__purple;
  }

  &__card-text-wrapper {
    max-width: $sixtyfour;
  }

  &__icon-wrapper {
    width: 100%;
    max-width: $fortyfour;
    height: 100px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    margin-bottom: $four;

    @media (min-width: $break-md) {
      height: 140px;
      max-width: $sixty;
      margin-bottom: $four;
    }

    img {
      width: 100%;
      object-fit: cover;
    }

    &--info {
      background-image: url($icon-info);
    }
    &--guidelines {
      background-image: url($icon-guidelines);
    }
    &--noticeboard {
      background-image: url($icon-noticeboard);
    }
  }
}
