@import 'base/mixins';
@import 'base/variables_sass';
@import 'base/variables_discourse';
@import 'base/fonts';
@import 'base/typography';

@import 'bcn-discourse/bcn-categories--mobile';
@import 'bcn-discourse/bcn-navigation--mobile';
@import 'bcn-discourse/bcn-topics-list--mobile';
@import 'plugins-style/algolia--mobile';

// visual token to show you are in mobile

// body {
//   &::after {
//     content: '';
//     position: fixed;
//     top: 0px;
//     height: 9px;
//     width: 9px;
//     background-color: yellow;
//     z-index: 99999;
//   }
// }
