.algolia-holder {


  .aa-Autocomplete{
    &:not(:first-child){
      display: none;
    }
  }


  .aa-Input {
    font-family: WorkSans, sans-serif !important;
    font-weight: bold;
    font-size: 18px !important;
    color: $purple !important;
    line-height: 1;
    border: none !important;
    background-color: $pink200;
    &::placeholder {
      color: $purple;
      opacity: 1; /* Firefox */
    }

    background-image: url($search) !important;
    background-repeat: no-repeat !important;
    background-size: 18px 18px !important;
    background-position: 10px !important;
  }

  // The dropdown

  .algolia-autocomplete {
    top: calc(100% + 24px) !important;
  }

  // .aa-Panel {}

  .aa-dropdown-menu {
    margin-top: 5px !important;
    background-color: $pink200 !important;

    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    .left-container {
      background-color: $pink200 !important;
      color: $purple !important;
      .hit-post-content {
        color: $purple !important;
      }
    }

    .right-container {
    }
  }

  .aa-footer {
    .left-container {
      .advanced-search {
        font-size: 16px !important;
        float: left !important;
        padding: 0 0 10px 10px;
      }
    }

    .right-container {
      .algolia-logo {
        display: none !important;
      }
    }
  }
}

// Advanced search page

.search-header {
  padding: 20px 0 !important;
  background-color: $white !important;
  color: $purple !important;
  .search-filters,
  .search-advanced-filters,
  .search-bar,
  summary,
  .date-picker {
    background-color: $white !important;
    color: $purple !important;
    &::before {
      color: $purple !important;
    }
    &::after {
      color: $purple !important;
    }
  }

  input {
    &::placeholder {
      color: $purple;
      opacity: 1; /* Firefox */
    }

    border: 1px solid $purple;
  }

  button {
    @include a-btn-chip;
  }

  .result-count {
    margin-bottom: 20px !important;
  }
}

.search-info {
  padding: 20px 0 !important;
  border-bottom: 1px solid $purple !important;
}

.fps-result {
  padding-top: 20px;
  .topic-title {
    color: $purple !important;
    font-weight: bold;
  }
  .search-category {
    margin-bottom: 10px;
    a {
      color: $purple !important;
    }
  }

  .blurb {
    color: $black !important;
  }
}
