// BACKGROUND CONTAINER
// #main-outlet {
//   margin-top: 300px !important;
// }

.background-container {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 600px;
  width: 100vw;
  // background: linear-gradient(90deg, var(--tertiary-hover) 0%, var(--tertiary) 100%);
  // clip-path: ellipse(148% 70% at 91% -14%);

  background-color: $pink !important;
  -webkit-mask-image: url(bottom-curve--mobile);
  -webkit-mask-image: url($bottom-curve--desktop);
  -webkit-mask-position: 0 100%;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
}

.bcn-hero-with-icon {
  background-color: $pink;
  color: $white !important;
  height: 160px;
  display: flex;
  padding: 60px 0 20px;
  @media (min-width: $break-lg) {
    padding: 100px 0 60px;
  }

  &__inner {
    display: flex;
    width: calc(95% - 20px);

    max-width: calc(1320px);
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $break-lg) {
      width: calc(90% - 60px);
      max-width: calc(1320px - 60px);
    }
  }

  &__content {
    width: 700px;

    h4 {
      font-weight: 400;
    }
  }

  &__image {
    width: 220px;
    height: 220px;
    background-image: url($hand-drawn-squarrow);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;

    display: none;
    @media (min-width: $break-lg) {
      display: block;
    }
  }
}
