@import 'base/mixins';
@import 'base/variables_sass';
@import 'base/variables_discourse';
@import 'base/fonts';
@import 'base/typography';

@import 'bcn-discourse/bcn-buttons';

@import 'bcn-discourse/bcn-404';
@import 'bcn-discourse/bcn-alerts-and-pop-ups';
@import 'bcn-discourse/_bcn-avatar-card';
@import 'bcn-discourse/bcn-categories';
@import 'bcn-discourse/bcn-composer';
@import 'bcn-discourse/bcn-footer';
@import 'bcn-discourse/bcn-global-layout';
@import 'bcn-discourse/bcn-groups';
@import 'bcn-discourse/bcn-header';
@import 'bcn-discourse/bcn-list_navigation';
@import 'bcn-discourse/bcn-navigation';
@import 'bcn-discourse/bcn-reviewable';
@import 'bcn-discourse/bcn-timeline';
@import 'bcn-discourse/bcn-topbar';
@import 'bcn-discourse/bcn-topic';
@import 'bcn-discourse/bcn-topics-list';
@import 'bcn-discourse/bcn-user-admin';
@import 'bcn-discourse/bcn-user-menu';
@import 'bcn-discourse/bcn-user-list';

@import 'plugins-style/algolia';
// @import 'plugins-style/algolia--mobile';

@import 'custom-content/bcn-cta';
@import 'custom-content/bcn-hero-banner';
@import 'custom-content/bcn-homepage-content';

.small-action.topic-post-visited .topic-post-visited-line {
  border-bottom: $lightpink !important;
  color: $lightpink !important;
}

// Removing "Views counmt from topic boards and "
.user-content {
  .topic-list-header {
    th.views {
      display: none;
    }
  }

  .topic-list-body {
    td.views {
      display: none;
    }
  }
}

.topic-map {
  .secondary.views {
    display: none;
  }
}

.suggested-topics {
  .topic-list-header {
    th.views {
      display: none;
    }
  }

  .topic-list-body {
    td.views {
      display: none;
    }
  }
}

// Hide those badges everywhere
.badge-category__wrapper .badge-category:before {
  display: none !important;
}
