// @import "/scss/_base/typography
@import 'base/mixins';
@import 'base/variables_sass';
@import 'base/variables_discourse';
@import 'base/fonts';
@import 'base/typography';

@import 'discourse-templates/buttons';
@import 'discourse-templates/header';
@import 'discourse-templates/list_navigation';
@import 'discourse-templates/categories';
@import 'discourse-templates/topics';

@import 'plugins/algolia';
@import 'plugins/category_banners';

@import 'hero';
@import 'footer';

@import 'sidebar-section-link.scss';

.alert-bootstrap-mode {
  display: none;
}

body {
  color: $purple;
}

// body.about-page,
// body.archetype-regular,
// body.admin-interface {
//   color: $purple;
//   background-color: #fff;
//   .bcn-hero {
//     display: none;
//   }
// }

.footer-message {
  h3 {
    text-align: center;
    @include lg;
    @media (min-width: $break-lg) {
      @include xl;
    }
  }
}

.suggested-topics-message {
  text-align: center;
  @include lg;
  @media (min-width: $break-lg) {
    @include xl;
  }
}
