// you cannot use sass variables here!!
:root {
  --heading-font-family: WorkSans, Arial, sans-serif;
  --font-family: WorkSans, Arial, sans-serif;
  // --primary-high: #6e2b5f;
  // --primary-medium: #f0eaef;

  // --secondary: #6e2b5f;
  --tertiary: #df2866;
}

// var(--primary)
// var(--secondary)
// var(--tertiary)
// var(--quaternary)
// var(--header_background)
// var(--header_primary)
// var(--highlight)
// var(--danger)
// var(--success)
// var(--love)

// var(--primary: #)
// var(--secondary: #)
// var(--tertiary: #)
// var(--quaternary: #)
// var(--header_background: #)
// var(--header_primary: #)
// var(--highlight: #)
// var(--danger: #)
// var(--success: #)
// var(--love: #)
// var(--always-black-rgb: 0)
// var(--primary-rgb: 110)
// var(--primary-low-rgb: 244.96667,229.33333,241)
// var(--primary-very-low-rgb: 251.99,247.3,)
// var(--secondary-rgb: 240,2)
// var(--header_background-rgb: 110)
// var(--tertiary-rgb: 110)
// var(--primary-very-low: #)
// var(--primary-low: #)
// var(--primary-low-mid: #)
// var(--primary-medium: #)
// var(--primary-high: #)
// var(--primary-very-high: #)
// var(--primary-50: #)
// var(--primary-100: #)
// var(--primary-200: #)
// var(--primary-300: #)
// var(--primary-400: #)
// var(--primary-500: #)
// var(--primary-600: #)
// var(--primary-700: #)
// var(--primary-800: #)
// var(--primary-900: #)
// var(--header_primary-low: #)
// var(--header_primary-low-mid: #)
// var(--header_primary-medium: #)
// var(--header_primary-high: #)
// var(--header_primary-very-high: #)
// var(--secondary-low: #)
// var(--secondary-medium: #)
// var(--secondary-high: #)
// var(--secondary-very-high: #)
// var(--tertiary-very-low: #)
// var(--tertiary-low: #)
// var(--tertiary-medium: #)
// var(--tertiary-high: #)
// var(--tertiary-hover: #)
// var(--tertiary-50: #)
// var(--tertiary-100: #)
// var(--tertiary-200: #)
// var(--tertiary-300: #)
// var(--tertiary-400: #)
// var(--tertiary-500: #)
// var(--tertiary-600: #)
// var(--tertiary-700: #)
// var(--tertiary-800: #)
// var(--tertiary-900: #)
// var(--quaternary-low: #)
// var(--highlight-low: #)
// var(--highlight-medium: #)
// var(--highlight-high: #)
// var(--danger-low: #)
// var(--danger-low-mid: rgba(255,75,9)
// var(--danger-medium: #)
// var(--danger-hover: #)
// var(--success-low: #)
// var(--success-medium: #)
// var(--success-hover: #)
// var(--love-low: #)
// var(--wiki:)
// var(--blend-primary-secondary-5: #)
// var(--primary-med-or-secondary-med: #)
// var(--primary-med-or-secondary-high: #)
// var(--primary-high-or-secondary-low: #)
// var(--primary-low-mid-or-secondary-high: #)
// var(--primary-low-mid-or-secondary-low: #)
// var(--primary-or-primary-low-mid: #)
// var(--highlight-low-or-medium: #)
// var(--tertiary-or-tertiary-low: #)
// var(--tertiary-low-or-tertiary-high: #)
// var(--tertiary-med-or-tertiary: #)
// var(--secondary-or-primary: #)
// var(--tertiary-or-white: #)
// var(--facebook-or-white: #)
// var(--twitter-or-white: #)
// var(--hljs-comment)
// var(--hljs-number)
// var(--hljs-string)
// var(--hljs-literal)
// var(--hljs-tag: #)
// var(--hljs-attribute: #)
// var(--hljs-symbol: #)
// var(--hljs-bg: #)
// var(--hljs-builtin-name: #)
// var(--google)
// var(--google-hover: #)
// var(--instagram: #)
// var(--instagram-hover: #)
// var(--facebook: #)
// var(--facebook-hover: #)
// var(--cas: #)
// var(--twitter: #)
// var(--twitter-hover: #)
// var(--github: #)
// var(--github-hover: #)
// var(--discord: #)
// var(--discord-hover: #)
// var(--gold: #)
// var(--silver: )
// var(--bronze: #)
