@function calculateRem($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

$black: #242424;
$white: #ffffff;
$grey: #707070;
$lightgrey: #efe8ed;
$yellow: #ffdb30;
$yellow300: #ffe66e;
$yellow400: #ffdb30;
$yellow500: #f0cd27;
$yellow600: #e9c725;
$purple: #6e2b5f;
$purple100: #f0eaef;
$purple200: #a65f97;
$purple300: #77416b;
$purple400: #6e2b5f;
$purple500: #3f1034;
$pink: #df2866;
$pink200: #f0eaef;
$pink400: #df2866;
$lightpink: #f2a9c2;
$lightpink200: #ffa1c1;
$lightpink400: #f2a9c2;

$break-mobile: 22.438em; // 359px
$break-mobile-land: 32em; // 512px
$break-tablet: 40.063em; // 641px
$break-desktop: 50em; // 800px
$break-desktop-mini: 55em; // 880px
$break-desktop-med: 64.063em; // 1025px
$break-mobile-nav: 68.125em; // 1090px
$break-desktop-wide: 75em; // 1200px
$break-desktop-wider: 83.75em; // 1340px
$break-desktop-xl: 88em; // 1408px

$one: calculateRem(4);
$one-half: calculateRem(6);
$two: calculateRem(8);
$two-half: calculateRem(10);
$three: calculateRem(12);
$three-half: calculateRem(14);
$four: calculateRem(16);
$four-half: calculateRem(18);
$five: calculateRem(20);
$five-half: calculateRem(22);
$six: calculateRem(24);
$six-half: calculateRem(26);
$seven: calculateRem(28);
$seven-half: calculateRem(30);
$eight: calculateRem(32);
$nine: calculateRem(36);
$ten: calculateRem(40);
$eleven: calculateRem(44);
$twelve: calculateRem(48);
$fourteen: calculateRem(56);
$fifteen: calculateRem(60);
$sixteen: calculateRem(64);
$eighteen: calculateRem(72);
$twenty: calculateRem(80);
$twentytwo: calculateRem(88);
$twentyfour: calculateRem(96);
$twentysix: calculateRem(100);
$twentyeight: calculateRem(112);
$thirty: calculateRem(120);
$thirtytwo: calculateRem(128);
$thirtysix: calculateRem(144);
$forty: calculateRem(160);
$fortyfour: calculateRem(176);
$fortyeight: calculateRem(192);
$fifty: calculateRem(208);
$fiftysix: calculateRem(224);
$sixty: calculateRem(256);
$sixtyfour: calculateRem(272);
$seventytwo: calculateRem(288);
$seventyeight: calculateRem(312);
$eighty: calculateRem(320);
$eightyfour: calculateRem(350);
$ninetysix: calculateRem(384);
$onehundred: calculateRem(416);
$full: '100%';
