@function calculateRem($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

// USAGE: @include font-size(font-size in px, line height in px); line-height optional
@mixin font-size($size, $line-height: false) {
  font-size: calculateRem($size);

  @if $line-height != false {
    line-height: ($line-height / $size);
  }
}

// Color variables to match tailwind
// @apply text-purple-500  is now  .classname { color: $yellow500 }

$black: #242424;
$white: #ffffff;
$grey: #707070;
$lightgrey: #efe8ed;
$yellow: #ffdb30;
$yellow300: #ffe66e;
$yellow400: #ffdb30;
$yellow500: #f0cd27;
$yellow600: #e9c725;
$purple: #6e2b5f;
$purple100: #f0eaef;
$purple200: #a65f97;
$purple300: #77416b;
$purple400: #6e2b5f;
$purple500: #3f1034;
$pink: #df2866;
$pink200: #f0eaef;
$pink400: #df2866;
$lightpink: #f2a9c2;
$lightpink200: #ffa1c1;
$lightpink400: #f2a9c2;

$orange: #ff9900;
$orange100: #ffebcc;
$orange300: #ffab2e;
$orange400: #ff9900;

$break-xs: 375px;
$break-ls: 480px;
$break-sm: 640px;
$break-md: 768px;
// $break-lg: 1025px; changed to copry Discourse breakpoint
$break-lg: 1020px;
$break-xl: 1200px;
$break-2xl: 1440px;
$break-3xl: 1600px;

// These Rem variables are here to help convert the tailwind classes into scss
// eg...  in tailwind you would use pb-8 we can use padding-bottom: $eight;

$one: calculateRem(4);
$one-half: calculateRem(6);
$two: calculateRem(8);
$two-half: calculateRem(10);
$three: calculateRem(12);
$three-half: calculateRem(14);
$four: calculateRem(16);
$four-half: calculateRem(18);
$five: calculateRem(20);
$five-half: calculateRem(22);
$six: calculateRem(24);
$six-half: calculateRem(26);
$seven: calculateRem(28);
$seven-half: calculateRem(30);
$eight: calculateRem(32);
$nine: calculateRem(36);
$ten: calculateRem(40);
$eleven: calculateRem(44);
$twelve: calculateRem(48);
$fourteen: calculateRem(56);
$fifteen: calculateRem(60);
$sixteen: calculateRem(64);
$eighteen: calculateRem(72);
$twenty: calculateRem(80);
$twentytwo: calculateRem(88);
$twentyfour: calculateRem(96);
$twentysix: calculateRem(100);
$twentyeight: calculateRem(112);
$thirty: calculateRem(120);
$thirtytwo: calculateRem(128);
$thirtysix: calculateRem(144);
$forty: calculateRem(160);
$fortyfour: calculateRem(176);
$fortyeight: calculateRem(192);
$fifty: calculateRem(208);
$fiftysix: calculateRem(224);
$sixty: calculateRem(256);
$sixtyfour: calculateRem(272);
$seventytwo: calculateRem(288);
$seventyeight: calculateRem(312);
$eighty: calculateRem(320);
$eightyfour: calculateRem(350);
$ninetysix: calculateRem(384);
$onehundred: calculateRem(416);
$full: '100%';

// These font-size  variables are here to help convert the tailwind font classes into scss
// eg...  in tailwind you would use text-6xl we can use  .classname {@inlcude $eight-xl};

@mixin text-xs() {
  @include font-size(12, 18);
}
@mixin text-sm() {
  @include font-size(14, 20);
}
@mixin text-base() {
  @include font-size(16, 26);
}
@mixin text-md() {
  @include font-size(18, 28);
}
@mixin text-lg() {
  @include font-size(19, 29);
}
@mixin text-xl() {
  @include font-size(22, 32);
}
@mixin text-two-xl() {
  @include font-size(26, 36);
}
@mixin text-three-xl() {
  @include font-size(28, 35);
}
@mixin text-four-xl() {
  @include font-size(30, 36);
}
@mixin text-five-xl() {
  @include font-size(32, 42);
}
@mixin text-six-xl() {
  @include font-size(35, 42);
}
@mixin text-seven-xl() {
  @include font-size(36, 46);
}
@mixin text-eight-xl() {
  @include font-size(40, 45);
}
@mixin text-nine-xl() {
  @include font-size(45, 58);
}
@mixin text-ten-xl() {
  @include font-size(56, 62);
}
@mixin text-eleven-xl() {
  @include font-size(80, 85);
}

// @mixin container {
//   display: block;
//   margin: auto;
//   max-width: 40em;
//   padding: 48px;

//   @media (max-width: 620px) {
//     padding: 0;
//     max-width: unset;
//   }
// }
$content-max-width: 1340px;
